.maindiv {
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.tropheeimage {
    width: 90%; 
    max-height: 1690px;
    margin-right: 200px;
}

.texts {
    font-family: 'Foundry Origin', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.awardimage {
    width: 100%;
    max-height: 1100px;
    margin-top: 20px; 
}


/* Media query for smaller screens (mobile devices) */
@media screen and (max-width: 768px) {
    .maindiv {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        align-items: center; /* Center elements horizontally */
    }

    .container {
        justify-content: center; 
        margin-bottom: 20px; 
    }

    .tropheeimage, .awardimage {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-right: 0;
        margin-top: 20px;
    }

    .texts {
        font-size: 16px; 
        text-align: center;
    }
}
