body{
    margin-top: 10px;
    margin-right: 19px;
    margin-left: 19px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #fffff9, #fffdeb, #fffce0, #fffbcb, #fff9b2);
    }
    
}